html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
